node_modules
/laravel/public/hot
/laravel/public/storage
storage/*.key
/laravel/vendor
/.idea
/.vscode
/nbproject
/laravel/Homestead.json
/laravel/Homestead.yaml
/laravel/npm-debug.log
/laravel/yarn-error.log
/laravel/.env
.phpunit.result.cache
/laravel/public/css/
/laravel/public/css
/laravel/public/js
/laravel/public/js/
/laravel/public/mix-manifest.json
/laravel/public/laravel_routes
.DS_Store
.docker-sync
nohup.out
/data